In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd


df = pd.read_csv('https://raw.githubusercontent.com/colaberry/data/master/Fraud/fraud_data.csv')
df
#from sklearn.model_selection import train_test_split

#df = pd.read_csv('https://raw.githubusercontent.com/colaberry/data/master/Fraud/fraud_data.csv')
#df.drop('Time', 1, inplace=True)

#X = df.iloc[:,:-1]
#y = df.iloc[:,-1]

#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

      S  A  F  J  G
0     0  2  1  0  1
1     0  0  1  0  1
2     0  2  1  0  1
3     0  1  1  0  1
4     0  2  0  1  1
5     0  1  1  0  1
6     0  1  0  1  1
7     1  1  1  1  1
8     1  2  1  0  1
9     1  0  1  0  0
10    0  1  0  1  0
11    1  1  1  0  1
12    1  1  0  1  1
13    0  0  1  0  1
14    1  1  1  0  1
15    1  1  0  1  0
16    0  1  1  1  1
17    0  2  1  0  1
18    0  1  1  0  1
19    1  0  1  0  1
20    0  1  1  0  1
21    0  2  1  0  1
22    0  0  1  1  1
23    0  0  1  0  1
24    0  1  1  0  1
25    1  0  0  1  0
26    0  1  0  1  1
27    1  2  1  0  1
28    0  2  1  0  1
29    0  1  1  0  1
...  .. .. .. .. ..
9970  0  0  1  0  1
9971  0  2  1  0  1
9972  0  1  1  0  1
9973  1  1  1  0  1
9974  1  1  1  0  1
9975  0  2  1  0  1
9976  1  1  1  0  1
9977  1  2  0  1  1
9978  0  0  1  0  1
9979  1  2  1  0  1
9980  0  0  1  0  1
9981  0  1  1  0  1
9982  1  1  1  0  1
9983  1  1  1  0  1
9984  1  2  1  0  1
9985  1  0  1  0  1
9986  1  1  1  0  1
9987  0  1  1  0  1
9988  1  2  1  0  1
9989  0  1  0  1  1
9990  0  1  1  0  1
9991  0  2  0  1  1
9992  0  0  1  0  1
9993  0  0  0  1  1
9994  0  1  1  0  1
9995  0  0  0  1  1
9996  1  0  1  0  1
9997  0  0  1  0  1
9998  1  2  1  1  1
9999  0  1  1  0  1

[10000 rows x 5 columns]

In [27]:
#EDA
df.describe()

                  S             A             F             J             G
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       0.504200      1.099400      0.902600      0.137600      0.971000
std        0.500007      0.772515      0.296516      0.344497      0.167815
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      1.000000      0.000000      1.000000
50%        1.000000      1.000000      1.000000      0.000000      1.000000
75%        1.000000      2.000000      1.000000      0.000000      1.000000
max        1.000000      2.000000      1.000000      1.000000      1.000000

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
S    10000 non-null int64
A    10000 non-null int64
F    10000 non-null int64
J    10000 non-null int64
G    10000 non-null int64
dtypes: int64(5)
memory usage: 390.7 KB

In [2]:
df.head()

   S  A  F  J  G
0  0  2  1  0  1
1  0  0  1  0  1
2  0  2  1  0  1
3  0  1  1  0  1
4  0  2  0  1  1

In [3]:
f, (ax_fraud, ax_not) = plt.subplots(2, 1, sharex=True, figsize=(16,6))
bins = 30

ax_fraud.hist(df.Amount[df.Class==1],bins=bins,normed=True,color='coral')
ax_fraud.set_title('Fraud Transactions over Amount')

ax_not.hist(df.Amount[df.Class==0],bins=bins,normed=True,color='seagreen')
ax_not.set_title('Non-Fraud Transactions over Amount')

plt.xlabel('Amount')
plt.ylabel('% of Transactions')
plt.yscale('log')
plt.show()

NameError: name 'plt' is not defined

In [4]:
nV01 = tf.feature_column.numeric_column('S')
nV02 = tf.feature_column.numeric_column('A')
nV03 = tf.feature_column.numeric_column('F')
nV04 = tf.feature_column.numeric_column('J')
nV05 = tf.feature_column.numeric_column('G')

NameError: name 'tf' is not defined